package net.puffish.attributesmod.api;

import net.minecraft.core.Holder;
import net.minecraft.resources.Identifier;
import net.minecraft.world.entity.ai.attributes.Attribute;
import net.puffish.attributesmod.util.DeferredSetup;

public class PuffishAttributes {
	private PuffishAttributes() { }

	public static final Identifier STAMINA_ID = DeferredSetup.createIdentifier("stamina");
	public static final Holder<Attribute> STAMINA = DeferredSetup.registerAttribute(STAMINA_ID, DeferredSetup.createRangedAttribute(STAMINA_ID, 4.0, 0.0, 1024.0).setSyncable(true));

	public static final Identifier ${ATTRIBUTE}_ID = DeferredSetup.createIdentifier("${attribute}");
	public static final Holder<Attribute> ${ATTRIBUTE} = DeferredSetup.registerAttribute(${ATTRIBUTE}_ID, DeferredSetup.createDynamicAttribute(${ATTRIBUTE}_ID).setSyncable(true));
}